.dark-mode{
    position: absolute;
    top: -1rem;
    right: 0;
   
}
.dark{
    visibility: hidden;
}
.dark + label{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--bg1);
}

.dark+label::before{
    content: "";
    height: 1em;
    width: 2em;
    border-radius: 1rem;
    background-color: var(--toogle);
}
.dark+label::after{
    content: "";
    height: 0.8em;
    width: 0.8em;
    border-radius: 1rem;
    background-color: var(--bg2);
    position: absolute;
    left: 0.2em;
    transition: all 350ms ease-in-out;
}
.dark:checked + label::after{
    transform: translateX(100%);
}
label{
    font-weight: 800;
}