.card{
    background: rgba(0, 0, 255, 0.23);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    transition: all 200ms ease-in-out;
}
.card:hover{
    transform: scale(0.9);
}
.heading{
    font-size: 1.3rem;
    
}

.props span:nth-child(1){
    font-size: 2.3rem;
    font-weight: bold;
}
.props span:nth-child(2){
    margin-left: 4px;
}
.icons{
    font-size: 3.5rem;
}